PORT=
FORCE_MOCK=true
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=true
DB_TRUST_CERT=true
DB_DIALECT=mssql
//金流
MERCHANT_ID=
HASH_KEY=
HASH_IV=
NEWEBPAY_GATEWAY_URL=
NOTIFY_URL=
//AI工具
GEMINI_API_KEY=
REMOVE_BG_API_KEY=
// 圖片上傳雲端
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
